main {
    position: relative;
    width: 100%;
    z-index: -1;
}

main div {
    position: relative;
    width: 100%;
    height: 100vh;
}

main div div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}