html {
    font-size: 16px;
    /*
    font-family: 'Open Sans', sans-serif;
		font-family: 'Montserrat', sans-serif;
		*/
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#menu-trianlge-button {
    display: none;
}