@media only screen and (max-device-width: 812px) {
    header {
        z-index: 1;
    }

    #menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 80%;
        margin: auto;
        background-color: transparent;
        transition: all 0.5s ease;
    }

    #menu.open {
        right: 30%;
        background-color: rgba(0, 20, 64, 0.9);
    }

    #menu-trianlge-button {
        display: block;
        position: absolute;
        top: 7rem;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        color: rgb(0, 20, 64);
        font-size: 4rem;
        transition: all 0.5s ease;
    }

    #menu.open #menu-trianlge-button {
        color: white;
        transform: rotate(-180deg);
    }

    #menu-trianlge-button.hide {
        opacity: 0;
    }

    .menu-items {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
    }

    #menu.open .menu-items {
        display: flex;
    }

    .menu-items a {
        margin: 2rem 0;
        color: white;
        font-size: 3.7rem;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
    }
}